* {
    font-family: 'Cormorant', serif;
    border: 3px solid black;
}

div {
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 500px;
}


input[type=text] {

  }

  .button {
    background-color: #000000;
    color: #FFFFFF;
    float: right;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }





