:root {
    --Ton: #ad1457;
}

* {
    font-family: 'Cormorant', serif;
    border: 3px solid black;
}

body {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/0b/b9/8f/19/a-serene-june-morning.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 200%;
    width: auto;
}

h1 {
    text-align: right;
    font-size: 250%;
}

div {
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 500px;
}






