:root {
    --Ton: rgba(192, 135, 60, 0.493);
    --Light: rgb(193, 204, 208);
    --Dark: rgb(62, 72, 57, 0.7);
    --But: rgb(62, 72, 57, 0.5);
}

* {
    font-family: 'Girassol', cursive;
    color: var(--Ton);
}


body {
    background: url(https://img2.goodfon.com/wallpaper/nbig/d/49/leto-les-tropa-priroda-311.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 250%;
    width: auto;
    height: 75%;
}

h1 {
    text-align: right;
    font-size: 200%;
    margin-top: 0px;
    font-size: 75px;
}

div {
    margin-top: 25px;
    margin-bottom: 25px;
    max-height: 500px;
}

 #RS, #chekum, #Box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark);
    font-weight: 400;
    border-radius: 10px;
    
}

#youchoose {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 174, 174);
    width: 350px;
    height: 39px;
    margin-left: 90px;
    border-radius: 10px;
    padding-top: 2px;
}

#ton  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--But); 
    width: 550px;
}

#intro {
    margin-top: 0px;
    background-color: var(--Dark); 
    align-items: flex-end;
    margin-bottom: 0px;
    margin-top: 0px;
}
#john {
    background-color: rgb(70, 67, 3);
    border-radius: 10px;
}

#search-container {
    margin-top: 155px;
    margin-left: 100px;
}

