* {
    font-family: 'Girassol', cursive;
    font-family: 'Itim', cursive;

    
}

body {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/0b/b9/8f/19/a-serene-june-morning.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 200%;
    margin: 100px;
    width: auto;
}

h1 {
    text-align: right;
    margin-bottom: 100px;
}


div {
    border: 3px solid black;
    padding: 10px;
    margin: 70px;
}

#youchoose, #theOn {
    max-width: 500px;
}

#recent {}



